@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

html, body {
  margin: 0;
}

body {
  font-family: Roboto-Regular;
  color: #FFF;
}

a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none !important;
}

.w3-top {
  background: #1e88e5;
  text-align: center;
}

.w3-top .w3-button {
  display: inline-block;
  float: none;
  background: #1e88e5 !important;
  font-size: 16px;
}

.w3-top .w3-button:hover {
  color: #EEE !important;
}

.w3-top .title {
  font-weight: bold;
}

header img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 25px;
  margin: 62px 10px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  transition: all 0.3s;
}

header img:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.jumbo {
  background: #2196f3;
  color: #FFF;
  height: 500px;
  min-height: 400px;
  font-size: 18px !important;
}

.jumbo h1 {
  font-size: 36px !important;
  padding-top: 30px;
  text-shadow: 2px 2px 12px rgba(0,0,0,0.5)
}

.jumbo a {
  text-decoration: none;
}

.jumbo .w3-button {
  box-shadow: 0 0 6px rgba(0,0,0,0.3) !important;
  margin: 0 5px;
}

.jumbo .w3-button:hover {
  background: #f44336 !important;
  color: #FFF !important;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.3) !important;
  transition: all 0.3s;
}

.w3-container .w3-content {
  color: #555;
}

.w3-container .w3-content h2 {
  text-align: center;
  margin-top: 50px;
}

.w3-container .w3-content h5 {
  text-align: center;
}

.w3-container .w3-content .w3-text-grey {
  text-align: justify;
  padding-bottom: 50px;
}

.w3-container .w3-content .w3-display-container {
  width: 100%;
}

.w3-container .w3-content .w3-display-container img {
  display: block;
  margin: auto;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
}

.event img {
  max-width: 80%;
}

.event img.round-border {
  border-radius: 25px;
}

.event p {
  margin-top: 50px;
}

#upcoming {
  padding-bottom: 80px;
}

#past .event h2 {
  margin-top: -20px;
}

#past .event .separator {
  height: 2px;
  background: #CCCCCC;
  margin: 50px auto 0;
}

#past .info {
  margin: 50px auto;
  text-align: center;
}

#fight {
  margin-bottom: 100px;
}

#fight ul {
  font-size: 18px;
}

#fight ul li {
 margin: 10px 0;
}

#fight h5 {
  margin: -10px;
}

#fight h5, #fight ul .bold {
  font-weight: bold;
}

#fight ul .link {
  text-decoration: underline;
  cursor: pointer;
}

.courtesy {
  text-align: center;
  margin-top: -30px;
}

.quote h2 {
  padding: 0 5vw;
}

.quote p {
  font-style: italic;
}

footer {
  margin: 30px 0;
}

footer img {
  max-width: 80px;
  max-height: 80px;
  margin: 20px 30px;
  opacity: 0.4;
  transition: all 0.3s;
  vertical-align: middle;
}

footer img:hover {
  opacity: 0.6;
}

footer .linux img {
  max-height: 108px;
  max-width: 108px;
}

footer .dff img {
  max-height: 65px;
}

footer .diaspora img {
  opacity: 0.7 !important;
}

footer .diaspora img:hover {
  opacity: 1 !important;
}

.footer-text {
  height: 35px;
  background: #333;
}

@media screen and (max-width: 496px) {
  header img {
    width: 35px;
    height: 35px;
  }
  .w3-top .title {
    font-size: 16px;
  }
  .w3-top .icons {
    margin-left: -5px;
  }
  .jumbo {
    font-size: 16px !important;
  }
  .jumbo h1 {
    font-size: 26px !important;
    padding-top: 20px;
  }
  footer img {
    display: block;
    margin: 25px auto !important;
  }
}
